:root { 
--pink_600_0c:#cc2b5e0c; 
--deep_orange_A200:#ec7532; 
--blue_A400:#1877f2; 
--gray_900_99:#13172299; 
--light_blue_400:#24baef; 
--teal_400_0c:#2193b00c; 
--yellow_600:#e6cd3b; 
--pink_100_0c:#ffafbd0c; 
--light_blue_400_19:#24baef19; 
--white_A700_19:#ffffff19; 
--deep_orange_200:#ffb88c; 
--blue_gray_900:#333333; 
--teal_A700_0c:#06beb60c; 
--white_A700_4c:#ffffff4c; 
--gray_900_02:#131722; 
--gray_900_03:#10141f; 
--blue_gray_200:#b9bdcc; 
--gray_900_04:#111520; 
--gray_400:#b8b8b8; 
--blue_gray_800_0c:#42275a0c; 
--gray_200_19:#eeeeee19; 
--blue_gray_100:#d9d9d9; 
--gray_900_05:#121621; 
--blue_gray_300:#9aa5b3; 
--blue_gray_200_4c:#b9bdcc4c; 
--gray_900:#0f131e; 
--gray_900_99_01:#0f131e99; 
--gray_900_01:#061538; 
--red_200_0c:#ee9ca70c; 
--red_300_0c:#de62620c; 
--red_600_0c:#eb33490c; 
--white_A700_66:#ffffff66; 
--light_green_700_0c:#56ab2f0c; 
--white_A700:#ffffff; 
}